<!-- <footer class="w-100 h-100 bg-light my-shadow d-flex justify-content-around align-items-center fs-4">
    <div>
        <span class="me-3">Made By:</span>
        <span class="fw-bold fst-italic">Mohammed Ismail</span>
    </div>

    <div>
        <span>Created In: Mrach 2023</span>
    </div>

    <div>
        <span>&copy; Copyright 2023</span>
    </div>
</footer> -->

<footer class="bg-info text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
  <div class="text-center p-3" style="background-color: aqua;">
    © 2023 Copyright:
    <span class="text-dark" >Mohammed Ismail</span>
  </div>
  <!-- Copyright -->
</footer>