



<!-- <a routerLink="/home">Home</a> -->


<!-- <a routerLink="/login">Login</a> -->

<!-- routerLinkActive is used to work with css along with navigation -->
<!-- <a routerLink="/register">Register</a> -->


<!-- code driven route -->

<!-- <button (click)="navigateTo('/login')">Login</button>
<button (click)="navigateTo('/register')">Register</button> -->

<body>
  <div>
    <app-header></app-header>
  </div>
  <div style="display:flex;">
    <div>
      <app-navbar></app-navbar>
    </div>
    <div >
      <router-outlet></router-outlet>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</body>